body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

h1 {
    font-size: 3em;
    color: #609;
    font-weight: 400;
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #4c0072;
    background-color: #d4a3ed;
    padding-left: 0.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    background-color: #d4a3ed;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h3 {
    border-bottom-style: solid;
    padding-bottom: 0.25em;
}

h2,
h3,
h4 {
    color: #99007f;
}

h2.introduction {
    font-size: 1.5em;
    color: #72005f;
    font-style: italic;
}

a:link {
    color: #660099;
}

a:visited {
    color: #876399;
}

a:hover {
    color: #339900;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    border-top: 0;
    background-color: #D9EECE;
    border: solid #4c0072;
    border-width: .1em
}

.navigation a {
    text-decoration: none;
    margin: 1em;
    color: #226800;
    font-weight: bold;
    display: block;
    top: 0.75em;
    bottom: 0.75em;
    left: 1em;
    right: 1m;
}

.navigation a:hover {
    background-color: #C4E8B1;
}